.DS_Store
node_modules
public
prof
tsconfig.tsbuildinfo
.quartz-cache
private/
.replit
replit.nix

.vscode

# Ignore all actual plugin code
content/.obsidian/plugins/*/*

# EXCEPT for the configuration files
!content/.obsidian/plugins/*/data.json

# Keep the file that tells Obsidian which plugins are enabled
!content/.obsidian/community-plugins.json